$primary: #696CFF
$secondary: #8492A2
$success: #70dc38
$danger: #ff3e1d
$warning: #ffab00
$info: #02c3eb
$dark: #2b2c3f
$light: #f5f5f9

@import 'bootstrap/scss/functions'
@import 'bootstrap/scss/mixins'
@import 'bootstrap'

@mixin responsive($breakpoint)
    @if $breakpoint == 'xs'
        @media (max-width: 575px)
            @content
    @else if $breakpoint == 'sm'
        @media (min-width: 576px) and (max-width: 767px)
            @content
    @else if $breakpoint == 'md'
        @media (min-width: 768px) and (max-width: 991px)
            @content
    @else if $breakpoint == 'lg'
        @media (min-width: 992px) and (max-width: 1199px)
            @content
    @else if $breakpoint == 'xl'
        @media (min-width: 1200px) and (max-width: 1399px)
            @content
    @else if $breakpoint == 'xxl'
        @media (min-width: 1400px)
            @content

body
    position: relative
    background-color: $light

.content-wrapper
    z-index: 1
    @include responsive('xs')
        padding-top: 70px
        padding-bottom: 150px
        min-height: 100vh
        width: 100%
    @include responsive('sm')
        padding-top: 70px
        padding-bottom: 150px
        min-height: 100vh
        width: 100%
    @include responsive('md')
        padding-top: 70px
        padding-bottom: 150px
        min-height: 100vh
        width: 100%
    @include responsive('lg')
        padding-top: 70px
        padding-bottom: 150px
        min-height: 100vh
        width: 100%
    @include responsive('xl')
        padding-top: 150px
        padding-bottom: 100px
        min-height: 100vh
        width: 100%
    @include responsive('xxl')
        padding-top: 150px
        padding-bottom: 100px
        min-height: 100vh
        width: 100%

::selection
    background: tint-color($primary, 50)
    color: $light
    text-shadow: 0 0 5px $primary

@import './navbar'
@import './footer'
@import './loading_screen'
@import './auth'
@import './favorites'
@import './product'
@import './filter_card'
@import './profile'
@import './product_page'
@import './user_addresses'
@import './user_coupons'
@import './payment'